@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    transition: all .2s linear;
    text-transform: uppercase;
}
section{
    padding: 6rem 0;
}
/*#region Header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 1%;
    z-index: 1000;
}
header:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
header > .navbar > a{
    color: white;
    padding: 1rem;
    font-size: 1.7rem;
}
header > .navbar > a:hover{
    background-color: gray;
    padding: 1rem;
}
/*#endregion*/
/*#region Home*/
.home{
    position: relative;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
}
.home > .content{
    text-align: center;
}
.home > .content > h3{
    font-size: 6rem;
    color: white;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.home > .content > a{
    font-size: 2.3rem;
    padding: 1rem 0.5rem;
    color: white;
    background-color: black;
}
.home > .content > a:hover{
    background-color: gray;
}
.home > p{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1%;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/*#endregion*/
/*#region Menu*/
.menu{
  background-color: black;
}
.menu > .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
}
.menu > .inner > h1{
    text-align: center;
    font-size: 4rem;
    color: white;
    font-weight: lighter;
    padding-bottom: 2rem;
}
.menu > .inner > .container{
    border: 0.1rem solid black;
    width: 70%;
}

.menu > .inner > .container > .name{
    overflow: hidden;
    border: 1px solid white;
    background-color: black;
    width: 100%;
}
.menu > .inner > .container > .name > .btn{
    background-color: inherit;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 2.3rem;
    color: white;
    width: calc((100% - 6px) / 3);
    border: none;
}
.menu > .inner > .container > .name > .btn:hover{
    background-color: brown;
}
.menu > .inner > .container > .name > .btn.active{
    background-color: brown;
}
.active{
    background-color: white;
}
.menu > .inner > .container > .content{
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
}
.menu > .inner > .container > .content > .tabcontent{
    display: none;
    padding: 0 0.5rem;
}
.menu > .inner > .container > .content > .tabcontent.active{
    display: block;
}
.menu > .inner > .container > .content > .tabcontent > .box{
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;
    padding: 1rem 0;
}
.menu > .inner > .container > .content > .tabcontent > .box > .price{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgb(85, 81, 81);
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    color: white;
    font-size: 1.8rem;
}
.menu > .inner > .container > .content > .tabcontent > .box > .bold{
    font-weight: bold;
}
.menu > .inner > .container > .content > .tabcontent > .box > .bold > span{
    border-radius: 0.3rem;
    padding: 0.5rem 0.7rem;
    color: white;
    font-size: 1.8rem;
}
.menu > .inner > .container > .content > .tabcontent > .box > .bold > .red-color{
    background-color: brown;
}
.menu > .inner > .container > .content > .tabcontent > .box > .bold > .gray-color{
    background-color: gray;
}
.menu > .inner > .container > .content > .tabcontent > .box > .light{
    color: rgb(173, 167, 173);
}
.menu > .inner > .container > .content > .tabcontent > .box > p{
    color: black;
    font-size: 2.2rem;
    padding: 0.5rem 0;
}

/*#endregion*/
/*#region About*/
.about{
    background-color: #b87873;
}
.about > .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.about > .inner > h1{
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}
.about > .inner > .container{
    width: 70%;
}
.about > .inner > .container > img{
    width: 100%;
}
.about > .inner > .container > p{
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding: 1.5rem 0;
}
.about > .inner > .container > .inner-container{
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
.about > .inner > .container > .inner-container > div{
    display: flex;
    justify-content: space-between;
}
.about > .inner > .container > .inner-container > div > img{
   border-radius: 50%;
   width: 15%;
}
.about > .inner > .container > .content{
    position: relative;
}
.about > .inner > .container > .content > h2{
    font-weight: bold;
    font-size: 2.5rem;
}
.about > .inner > .container > .content > .inner-content{
   width: 50%;
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 0;
   font-size: 1.7rem;
   line-height: 4rem;
}
/*#endregion*/
/*#region Contact*/
.contact{
    padding: 0;
    margin: 0;
}
.contact > .inner{
    background-color: #4a6775;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.contact > .inner > img{
    width: 100%;
    filter: brightness(50%)
}
.contact > .inner > h1{
    font-size: 3.5rem;
    font-weight: lighter;
    padding: 5rem 0;
}
.contact > .inner > .content {
    width: 70%;
}
.contact > .inner > .content > .inner-content > p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    line-height: 2.5rem;
}
.contact > .inner > .content > .inner-content > p > span{
    background-color: black;
    color: white;
    padding: 0.5rem;
}
.contact > .inner > .content > .inner-content > .reserve{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
.contact > .inner > .content > form{
    display: flex;
    flex-direction: column;
}
.contact > .inner > .content > form > input{
    padding: 1.5rem 0;
    margin: 1rem 0;
    text-indent: 1.5rem;
    font-size: 1.5rem;
}
.contact > .inner > .content > form > input:focus{
    border-color: black;
}
.contact > .inner > .content > form > input::placeholder{
    font-size: 1.5rem;
}
.contact > .inner > .content > form > input[type=submit]{
    font-size: 1.5rem;
    padding: 0.7rem;
    cursor: pointer;
}
.contact > .inner > .content > form > input[type=date]{
    font-size: 1.5rem;
    padding: 1rem 0;
}
.contact > .inner > .content > form > input[type=submit]:hover{
    background-color: #b4d0df;
}
/*#endregion*/
/*#region Footer*/
footer{
    background-color: black;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p{
    font-size: 2.5rem;
}
footer > p > a{
    color: white;
    text-decoration: underline;
}
/*#endregion*/