table {
  border-spacing: 0;
  margin: 100px auto
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

.ant-table-thead > tr > th{
  background: #e3e2e2;
}

.ant-table-pagination.ant-pagination{
  display: none;
}